**/.terraform/
**/.terraform/.terraform.lock.hcl
**/.terraform/.terraform.tfstate.d


terraform/.terraform.lock.hcl
terraform/terraform.tfstate.d/local/terraform.tfstate.backup
terraform/terraform.tfstate.d/local/terraform.tfstate