**/.terraform/
**/.terraform/.terraform.lock.hcl
**/.terraform/.terraform.tfstate.d
**/src/*.js
**/server/node_modules
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.d/local/terraform.tfstate.backup
terraform/terraform.tfstate.d/local/terraform.tfstate
**/ycsb-0.17.0/** 